 @import url("https://use.typekit.net/uki3xxu.css");

h1 {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-size: 48px;
    margin: 5rem 0 1rem;
    /* margin-block: 2rem 0rem; */
}

h2 {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 400;
    margin: 1rem 0;
}

p {
    font-family: "adriane", serif;
    font-style: normal;
    margin: 10px 0;
}

hr {
    color: rgb(69, 66, 56);
    background-color: rgb(69, 66, 56);
    margin: 1px 0;
}

.name {
    font-weight: bold;
}

body {
    margin: 0 8rem;
    background-color:antiquewhite;
    color: rgb(69, 66, 56);
}

.scene {
    font-style: italic;
    margin: 1rem 0;
}

section {
    margin: 3rem 0rem;
}